.header {
  background-image: url('../../assets/img/header-background.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size:cover;
}
.logo {
  margin: -100px 0 0 -84px;
  @include position(absolute, 50% 0 0 50%);
  img {

  }
}
