.main {
  .main-call {
    background-image: url('../../assets/img/content/banner.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto;
    min-height: 600px;
  }
  .confort-repair {
    background-image: url('../../assets/img/background-center.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    .box {
      background-image: url('../../assets/img/background-repair.png');
      background-position: center;
      background-size: contain;
      background-repeat: repeat;

    }
    // min-height: 1000px;
  }
}
